@import './_variables.scss';

h2 {
    margin: 32px 5vw 8px 5vw;
}
form > select,
form > input,
form > textarea {
    font-family: 'Afacad', sans-serif;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    width: 400px;
    max-width: 80vw;
    height: 43px;
    margin: 16px 5vw !important;
    padding: 0 8px !important;
    box-sizing: border-box;
    border: none;
    background-color: $darker;
    color: $light;
    border-bottom: 1px solid $purple;
    box-shadow:
        4px 4px 4px 4px rgba(0, 0, 0, 0.05) inset,
        2px 2px 2px 2px rgba(0, 0, 0, 0.2) inset;

    &:focus {
        outline: none !important;
        box-shadow: 4px 4px 16px 4px #6c6eec11 inset, 2px 2px 4px 2px #6c6eec88 inset;
    }
}
form > textarea {
    height: 120px;
}
form > select {
    appearance: none;
    background-image: url("data:image/svg+xml;utf8,<svg fill='%236c6eec' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 32px;
}
form > select[multiple] {
    background-image: none;
    height: 120px;
}
form input[type="date"] {
    appearance: none;
    padding-right: 40px;
    background-image: url("data:image/svg+xml;utf8,<svg fill='%236c6eec' height='20' viewBox='0 0 24 24' width='20' xmlns='http://www.w3.org/2000/svg'><path d='M7 2v2H5a2 2 0 00-2 2v2h18V6a2 2 0 00-2-2h-2V2h-2v2H9V2H7zm14 8H3v10a2 2 0 002 2h14a2 2 0 002-2V10z'/></svg>");
    background-repeat: no-repeat;
    background-position: right 12px center;
    background-size: 16px;
}
.codeParent {
    width: 90vw;
    height: 43px;
    margin: 16px 5vw;
    padding: 2vw;

    pre {
        border-radius: 8px;
        border-bottom: 40vh solid $darkest;
    }
}
.copyButton {
    right: 10px;
    box-shadow: none;
}





.range-slider {
    width: 90vw;
    height: 24px;
    display: inline-block;
    line-height: 40px;
    margin: 16px 4vw 0 4vw;

    .slider-thumb {
        line-height: 20px;
        text-align: center;
        color: $white;
        cursor: grab;

        background-color: $purple !important;
        border: none !important;
        outline: none !important;
        border-radius: 50%;
        width: 20px !important;
        height: 20px !important;
        box-shadow:
                2px 2px 4px 4px rgba(0, 0, 0, 0.1),
                1px 1px 2px 2px rgba(0, 0, 0, 0.3),
                3px 3px 8px 4px #6c6eec44 inset;
    }
    .slider-track {
        top: 8px;
        bottom: 0;
        height: 4px;
        background-color: $white;
        border-radius: 999px;
    }
}
.color-slider {
    .slider-track-0 {
        background: linear-gradient(to right,
                #ffffff 10vw,
                #EEEDC4 20vw,
                #ECBF7A 30vw,
                #EBA937 40vw,
                #C09711 50vw,
                #FFBF00 60vw,
                #B87333 70vw,
                #6C4324 80vw,
                #8B6145 90vw
        );
    }
    .slider-track-1 {
        background: linear-gradient(to left,
                #8B6145 10vw,
                #6C4324 20vw,
                #B87333 30vw,
                #FFBF00 40vw,
                #C09711 50vw,
                #EBA937 60vw,
                #ECBF7A 70vw,
                #EEEDC4 80vw,
                #ffffff 90vw
        );
    }
}
.slider-label {
    margin: -8px 6vw 24px 6vw;
    color: $purple;
}
#barrel {
    width: 50vw;
    margin: 2vh 10vw 2vh 40vw;
    display: block;
}
//ul {
//    width: 80vw;
//    margin: 10px auto;
//    color: $purple;
//}
.json_output {
    border-radius: 8px;
    margin: 2vw 5vw 64vw 5vw;
    padding: 2vw;
    width: 90vw;
    border: none;
    background-color: $darker;
    min-height: 200px;
    font-family: monospace;
    color: $purple;
    white-space: pre;
    box-shadow: 4px 4px 16px 4px #6c6eecaa, 2px 2px 4px 2px #6c6eec44;
    overflow: hidden;
    font-size: 16px;
}
.title {
    margin: 100px 0 20px 0;

    h2 {
        color: $purple;
        margin: 0;
        padding: 0;
        flex-grow: 2;
    }
    h3 {
        color: $purple;
        margin: 0;
        padding: 0;
        flex-grow: 2;
        font-size: 1.2rem;
    }
    .stars {
        padding-top: 10px;
        margin-right: 20px;
    }
}