@import '_variables.scss';

body,
button {
	font-family: 'Afacad', sans-serif;
	font-size: 1rem;
	letter-spacing: 0.1rem;
}

html {
	font-size: 20px;
}

body {
    color: $light;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1 {
	font-size: 3rem;
	color: $purple;
	text-shadow: 2px 2px 2px #6c6eec44;
	font-weight: 200;
}

h2 {
	font-size: 2rem;
	color: $white;
	margin-bottom: 2vh;
	text-shadow: 2px 2px 2px #6c6eec44;
	font-weight: 300;
}

ul,
ol {
	margin-left: 2vw;
}

a,
button {
    color: $lighter;
	transition: all 0.5s ease-in-out;
	text-decoration: underline;
	text-decoration-color: #ffc917aa;
	text-underline-offset: 4px;
	text-decoration-style: dotted;

	&:hover {
		color: $yellow;
		transition: all 2s ease-in-out;
	}
}

.content-column {
	position: absolute;
	top: 8vh;
	left: 400px;
	width: calc(100vw - 500px);
	max-width: 1920px;
	padding-bottom: 400px;
}
.intro {
	p {
		margin: 40px 0;
	}

	li {
		color: $purple;
	}
}
blockquote {
	border-left: 4px solid $light;
	margin-left: 20px;
	padding-left: 20px;
	position: relative;

	&:before {
		color: $purple;
		content: "\201D";
		speak: none;
		font-style: normal;
		font-weight: bold;
		text-transform: none;
		line-height: 1;
		font-size: 56px;
		left: 100%;
		padding-left: 20px;
		top: 0;
		position: absolute;
	}
}

@media(max-width: $mobile-breakpoint) {
	h1 {
		font-size: 3rem;
		color: $purple;
		text-shadow: 2px 2px 2px #6c6eec44;
		font-weight: 200;
	}

	h2 {
		font-size: 2rem;
		color: $white;
		margin-bottom: 2vh;
		text-shadow: 2px 2px 2px #6c6eec44;
		font-weight: 300;
	}

	ul,
	ol {
		margin-left: 2vw;
	}

	.content-column {
		position: absolute;
		top: 12vh;
		left: 2vw;
		width: 96vw;
		padding-bottom: 400px;
	}
	.intro {
		p {
			margin: 40px 0;
		}

		li {
			color: $purple;
		}
	}

	blockquote {
		border-left: 4px solid $light;
		margin-left: 20px;
		padding-left: 20px;
		position: relative;

		&:before {
			line-height: 1;
			font-size: 56px;
			left: 100%;
			padding-left: 20px;
			top: 0;
			position: absolute;
		}
	}
	.mobile-hidden {
		display: none;
	}
}