@import './_variables.scss';

ul.tags {
    li {
        display: inline-block;
        padding: 4px 8px;
        margin: 4px;
        border-radius: 4px;
        background-color: $purple;
        color: $white;
    }
}
blockquote {
    border-left: 4px solid $light;
    margin-left: 20px;
    padding-left: 20px;
    position: relative;

    &:before {
        color: $purple;
        content: "\201D";
        speak: none;
        font-style: normal;
        font-weight: bold;
        text-transform: none;
        line-height: 1;
        font-size: 56px;
        left: 100%;
        padding-left: 20px;
        top: 0;
        position: absolute;
    }
}
table {
    margin: 4vh 4vw;
    table-layout: fixed;
    width: 1200px;

    & > * {
        width: 1200px;

        td {
            width: 300px;
            padding: 4px;

            &:not(:first-of-type) {
                background-color: $dark;
            }
            &.right {
                text-align: right;
            }
        }
    }
}

img {
    max-width: 600px;
    margin-bottom: 4vh;

    &.shade {
        box-shadow: 2px 2px 20px 2px rgba(0, 0, 0, 0.2), 1px 1px 10px 1px rgba(0, 0, 0, 0.1);
    }

    &.small {
        height: 180px;
        margin: 10px;
    }
}
a img.small {
    border: 2px solid $purple;
}
sup a,
.sup {
    color: $purple;
    padding-left: 1px;
    font-size: .83em;
    vertical-align: super;
    text-decoration: none;
}
hr {
    box-shadow: -6px -6px 0 0 $purple;
    border: 1px solid $purple;
    margin: 60px auto 80px;
    width: 60%;
}
p a {
    text-decoration: underline;
}
nav select {
    margin: 4px;
    padding: 8px;
    width: 160px;
    background-color: $black;
    color: $purple;
    border: 0;
}
