@import './_variables.scss';

.content-column {
	$hue: 223;
	$bg: hsl($hue, 10%, 90%);
	$fg: hsl($hue, 10%, 10%);
	$primary: hsl($hue, 90%, 50%);
	$trans-dur: 0.3s;
	$trans-timing: cubic-bezier(0.65, 0, 0.35, 1);

	* {
		border: 0;
	}

	h1,
	h2 {
		margin: 0 0 3rem;
		padding-top: 1.5rem;
		color: $purple;
	}
	h1 {
		font-size: 3rem;
		text-shadow: 2px 2px 8px #aaaaaa22;
		font-weight: 200;
	}
	h2 {
		font-size: 2rem;
		margin-bottom: 2vh;
		font-weight: 300;
	}
	p {
		margin-bottom: 20px;
	}
	.btn {
		background-color: $fg;
		border-radius: 0.25em;
		color: $bg;
		border: 1px solid $purple;
		cursor: pointer;
		padding: 0.375em 0.75em;
		transition: background-color calc($trans-dur) / 2 linear, color $trans-dur;
		outline: none;

		&:hover {
			background-color: hsl($hue, 10%, 50%);
		}

		&.timeline__collapse {
			background-color: $purple;
			text-decoration: none;
		}
	}
	.btn-group {
		display: flex;
		gap: 0.375em;
		margin-bottom: 1.5em;
	}
	.timeline {
		width: 100%;
		max-width: 36em;
	}
	.timeline__arrow {
		background-color: transparent;
		border-radius: 0.25em;
		cursor: default;
		flex-shrink: 0;
		outline: transparent;
		width: 2em;
		height: 2em;
		transition: background-color calc($trans-dur / 2) linear, color $trans-dur;
		appearance: none;
		color: $light;
		margin-right: -4px;
	}
	.timeline__arrow-icon {
		display: block;
		pointer-events: none;
		transform: rotate(-90deg);
		transition: transform $trans-dur $trans-timing;
		width: 100%;
		height: auto;
		color: $light;
	}
	.timeline__date {
		font-size: 0.833em;
		line-height: 2.4;
		color: $light;
	}
	.timeline__dot {
		background-color: currentColor;
		border-radius: 50%;
		display: inline-block;
		flex-shrink: 0;
		margin: 0.625em 0;
		margin-inline-end: 1em;
		position: relative;
		width: 0.75em;
		height: 0.75em;
		color: $light;
	}
	.timeline__item {
		position: relative;
		padding-bottom: 2.25em;
	}
	.timeline__item:not(:last-child):before {
		background-color: $light;
		content: "";
		display: block;
		position: absolute;
		top: 1em;
		left: 2.2em;
		width: 0.125em;
		height: 100%;
		transform: translateX(-50%);
	}
	.timeline__item-header {
		display: flex;
	}
	.timeline__item-body {
		border-radius: 0.375em;
		overflow: hidden;
		margin-top: 0.5em;
		margin-inline-start: 4em;
		height: 0;
	}
	.timeline__item-body-content {
		background-color: $dark;
		box-shadow: 2px 2px 8px 8px #aaaaaa22;
		color: $light;
		opacity: 0;
		padding: 0.5em 0.75em;
		visibility: hidden;
		transition: opacity $trans-dur $trans-timing, visibility $trans-dur steps(1, end);
	}
	.timeline__meta {
		width: 100%;
	}
	.timeline__title {
		font-size: 1.2em;
		line-height: 1.333;
		color: $light;
	}
	/* Expanded state */
	.timeline__item-body--expanded {
		height: auto;

		.timeline__item-body-content {
			opacity: 1;
			visibility: visible;
			transition-delay: $trans-dur, 0s;
		}
	}
	.timeline__arrow--expanded .timeline__arrow-icon {
		transform: rotate(0);
	}
	.timeline__arrow-icon {
		height: 24px;
		width: 24px;
	}

	.tags {
		//width: 60vw;
		//justify-content: left;
		//flex-wrap: wrap;

		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-auto-rows: 58px;
		grid-gap: 2px;
		padding-bottom: 50px;
		margin: auto auto 10px;
		max-width: 1800px;
		z-index: 3;
		position: relative;
		width: 400px;
	}
	.tag:not(:has(img)) {
		font-size: .8rem;
		letter-spacing: 1px;
		background-color: $purple;
		color: white;
		padding: 4px 8px;
		border-radius: 4px;
		line-height: 1rem;
		margin-left: 8px;
		margin-bottom: 8px;
	}
	.tag:has(img) {
		padding: 4px;
		margin-left: 4px;
		margin-bottom: 4px;
		width: 56px;
		height: 64px;
		clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
		background: $light;

		img {
			width: 44px;
			height: 44px;
			margin: 8px 4px;
		}

		&:first-child {
			grid-row-start: 1;
			grid-column: 2 / span 2;
		}
		&:nth-child(2) {
			grid-row-start: 1;
			grid-column: 4 / span 2;
		}
		&:nth-child(3) {
			grid-row-start: 1;
			grid-column: 6 / span 2;
		}
		&:nth-child(4) {
			grid-row-start: 1;
			grid-column: 8 / span 2;
		}
		&:nth-child(5) {
			grid-row-start: 1;
			grid-column: 10 / span 2;
		}
		&:nth-child(6) {
			grid-row-start: 1;
			grid-column: 12 / span 2;
		}

		&:nth-child(7) {
			grid-row-start: 2;
			grid-column: 1 / span 2;
		}
		&:nth-child(8) {
			grid-row-start: 2;
			grid-column: 3 / span 2;
		}
		&:nth-child(9) {
			grid-row-start: 2;
			grid-column: 5 / span 2;
		}
		&:nth-child(10) {
			grid-row-start: 2;
			grid-column: 7 / span 2;
		}
		&:nth-child(11) {
			grid-row-start: 2;
			grid-column: 9 / span 2;
		}
		&:nth-child(12) {
			grid-row-start: 2;
			grid-column: 11 / span 2;
		}

		&:nth-child(13) {
			grid-row-start: 3;
			grid-column: 2 / span 2;
		}
		&:nth-child(14) {
			grid-row-start: 3;
			grid-column: 4 / span 2;
		}
		&:nth-child(15) {
			grid-row-start: 3;
			grid-column: 6 / span 2;
		}
		&:nth-child(16) {
			grid-row-start: 3;
			grid-column: 8 / span 2;
		}
		&:nth-child(17) {
			grid-row-start: 3;
			grid-column: 10 / span 2;
		}
		&:nth-child(18) {
			grid-row-start: 3;
			grid-column: 12 / span 2;
		}

		&:nth-child(19) {
			grid-row-start: 4;
			grid-column: 1 / span 2;
		}
		&:nth-child(20) {
			grid-row-start: 4;
			grid-column: 3 / span 2;
		}
		&:nth-child(21) {
			grid-row-start: 4;
			grid-column: 5 / span 2;
		}
		&:nth-child(22) {
			grid-row-start: 4;
			grid-column: 7 / span 2;
		}
		&:nth-child(23) {
			grid-row-start: 4;
			grid-column: 9 / span 2;
		}
		&:nth-child(24) {
			grid-row-start: 4;
			grid-column: 11 / span 2;
		}

		&:nth-child(25) {
			grid-row-start: 5;
			grid-column: 2 / span 2;
		}
		&:nth-child(26) {
			grid-row-start: 5;
			grid-column: 4 / span 2;
		}
		&:nth-child(27) {
			grid-row-start: 5;
			grid-column: 6 / span 2;
		}
		&:nth-child(28) {
			grid-row-start: 5;
			grid-column: 8 / span 2;
		}
		&:nth-child(29) {
			grid-row-start: 5;
			grid-column: 10 / span 2;
		}
		&:nth-child(30) {
			grid-row-start: 5;
			grid-column: 12 / span 2;
		}

		&:nth-child(31) {
			grid-row-start: 6;
			grid-column: 1 / span 2;
		}
		&:nth-child(32) {
			grid-row-start: 6;
			grid-column: 3 / span 2;
		}
		&:nth-child(33) {
			grid-row-start: 6;
			grid-column: 5 / span 2;
		}
		&:nth-child(34) {
			grid-row-start: 6;
			grid-column: 7 / span 2;
		}
		&:nth-child(35) {
			grid-row-start: 6;
			grid-column: 9 / span 2;
		}
		&:nth-child(36) {
			grid-row-start: 6;
			grid-column: 11 / span 2;
		}

		&:nth-child(37) {
			grid-row-start: 7;
			grid-column: 2 / span 2;
		}
		&:nth-child(38) {
			grid-row-start: 7;
			grid-column: 4 / span 2;
		}
		&:nth-child(39) {
			grid-row-start: 7;
			grid-column: 6 / span 2;
		}
		&:nth-child(40) {
			grid-row-start: 7;
			grid-column: 8 / span 2;
		}
		&:nth-child(41) {
			grid-row-start: 7;
			grid-column: 10 / span 2;
		}
		&:nth-child(42) {
			grid-row-start: 7;
			grid-column: 12 / span 2;
		}

		&:nth-child(43) {
			grid-row-start: 8;
			grid-column: 1 / span 2;
		}
		&:nth-child(44) {
			grid-row-start: 8;
			grid-column: 3 / span 2;
		}
		&:nth-child(45) {
			grid-row-start: 8;
			grid-column: 5 / span 2;
		}
		&:nth-child(46) {
			grid-row-start: 8;
			grid-column: 7 / span 2;
		}
		&:nth-child(47) {
			grid-row-start: 8;
			grid-column: 9 / span 2;
		}
		&:nth-child(48) {
			grid-row-start: 8;
			grid-column: 11 / span 2;
		}

		&:nth-child(49) {
			grid-row-start: 9;
			grid-column: 2 / span 2;
		}
		&:nth-child(50) {
			grid-row-start: 9;
			grid-column: 4 / span 2;
		}
		&:nth-child(51) {
			grid-row-start: 9;
			grid-column: 6 / span 2;
		}
		&:nth-child(52) {
			grid-row-start: 9;
			grid-column: 8 / span 2;
		}
		&:nth-child(53) {
			grid-row-start: 9;
			grid-column: 10 / span 2;
		}
		&:nth-child(54) {
			grid-row-start: 9;
			grid-column: 12 / span 2;
		}

		&:nth-child(55) {
			grid-row-start: 10;
			grid-column: 1 / span 2;
		}
		&:nth-child(56) {
			grid-row-start: 10;
			grid-column: 3 / span 2;
		}
		&:nth-child(57) {
			grid-row-start: 10;
			grid-column: 5 / span 2;
		}
		&:nth-child(58) {
			grid-row-start: 10;
			grid-column: 7 / span 2;
		}
		&:nth-child(59) {
			grid-row-start: 10;
			grid-column: 9 / span 2;
		}
		&:nth-child(60) {
			grid-row-start: 10;
			grid-column: 11 / span 2;
		}
	}

	.me {
		position: fixed;
		bottom: 0;
		left: calc(100vw - 400px);
		height: 400px;
		width: 360px;
		z-index: 9999;

		img:first-of-type {
			opacity: 1;
			transition: all 2s;
			height: 400px;
			width: 360px;
		}
		img:nth-of-type(2) {
			opacity: 0;
			transition: all 2s;
			position: absolute;
			top: 0;
			left: 0;
			height: 400px;
			width: 360px;
		}
	}
	.me:hover {
		img:nth-of-type(1) {
			opacity: 0;
		}

		img:nth-of-type(2) {
			opacity: 1;
		}
	}

	@media(max-width: $mobile-breakpoint) {
		h1 {
			span:not(:first-of-type) {
				display: none
			}
		}
		.me {
			display: none;
		}
		.tags {
			width: 96vw;
			justify-content: left;
			flex-wrap: wrap;
		}
		img.tag {
			width: 32px;
			height: 32px;
		}

		.tag:has(img) {
			&:first-child {
				grid-row-start: 1;
				grid-column: 2 / span 2;
			}

			&:nth-child(2) {
				grid-row-start: 1;
				grid-column: 4 / span 2;
			}

			&:nth-child(3) {
				grid-row-start: 1;
				grid-column: 6 / span 2;
			}

			&:nth-child(4) {
				grid-row-start: 1;
				grid-column: 8 / span 2;
			}

			&:nth-child(5) {
				grid-row-start: 2;
				grid-column: 1 / span 2;
			}

			&:nth-child(6) {
				grid-row-start: 2;
				grid-column: 3 / span 2;
			}

			&:nth-child(7) {
				grid-row-start: 2;
				grid-column: 5 / span 2;
			}

			&:nth-child(8) {
				grid-row-start: 2;
				grid-column: 7 / span 2;
			}

			&:nth-child(9) {
				grid-row-start: 3;
				grid-column: 2 / span 2;
			}

			&:nth-child(10) {
				grid-row-start: 3;
				grid-column: 4 / span 2;
			}

			&:nth-child(11) {
				grid-row-start: 3;
				grid-column: 6 / span 2;
			}

			&:nth-child(12) {
				grid-row-start: 3;
				grid-column: 8 / span 2;
			}

			&:nth-child(13) {
				grid-row-start: 4;
				grid-column: 1 / span 2;
			}

			&:nth-child(14) {
				grid-row-start: 4;
				grid-column: 3 / span 2;
			}

			&:nth-child(15) {
				grid-row-start: 4;
				grid-column: 5 / span 2;
			}

			&:nth-child(16) {
				grid-row-start: 4;
				grid-column: 7 / span 2;
			}

			&:nth-child(17) {
				grid-row-start: 5;
				grid-column: 2 / span 2;
			}

			&:nth-child(18) {
				grid-row-start: 5;
				grid-column: 4 / span 2;
			}

			&:nth-child(19) {
				grid-row-start: 5;
				grid-column: 6 / span 2;
			}

			&:nth-child(20) {
				grid-row-start: 5;
				grid-column: 8 / span 2;
			}

			&:nth-child(21) {
				grid-row-start: 6;
				grid-column: 1 / span 2;
			}

			&:nth-child(22) {
				grid-row-start: 6;
				grid-column: 3 / span 2;
			}

			&:nth-child(23) {
				grid-row-start: 6;
				grid-column: 5 / span 2;
			}

			&:nth-child(24) {
				grid-row-start: 6;
				grid-column: 7 / span 2;
			}

			&:nth-child(25) {
				grid-row-start: 7;
				grid-column: 2 / span 2;
			}

			&:nth-child(26) {
				grid-row-start: 7;
				grid-column: 4 / span 2;
			}

			&:nth-child(27) {
				grid-row-start: 7;
				grid-column: 6 / span 2;
			}

			&:nth-child(28) {
				grid-row-start: 7;
				grid-column: 8 / span 2;
			}

			&:nth-child(29) {
				grid-row-start: 8;
				grid-column: 1 / span 2;
			}

			&:nth-child(30) {
				grid-row-start: 8;
				grid-column: 3 / span 2;
			}

			&:nth-child(31) {
				grid-row-start: 8;
				grid-column: 5 / span 2;
			}

			&:nth-child(32) {
				grid-row-start: 8;
				grid-column: 7 / span 2;
			}

			&:nth-child(33) {
				grid-row-start: 9;
				grid-column: 2 / span 2;
			}

			&:nth-child(34) {
				grid-row-start: 9;
				grid-column: 4 / span 2;
			}

			&:nth-child(35) {
				grid-row-start: 9;
				grid-column: 6 / span 2;
			}

			&:nth-child(36) {
				grid-row-start: 9;
				grid-column: 8 / span 2;
			}

			&:nth-child(37) {
				grid-row-start: 10;
				grid-column: 1 / span 2;
			}

			&:nth-child(38) {
				grid-row-start: 10;
				grid-column: 3 / span 2;
			}

			&:nth-child(39) {
				grid-row-start: 10;
				grid-column: 5 / span 2;
			}

			&:nth-child(40) {
				grid-row-start: 10;
				grid-column: 7 / span 2;
			}

			&:nth-child(41) {
				grid-row-start: 11;
				grid-column: 2 / span 2;
			}

			&:nth-child(42) {
				grid-row-start: 11;
				grid-column: 4 / span 2;
			}

			&:nth-child(43) {
				grid-row-start: 11;
				grid-column: 6 / span 2;
			}

			&:nth-child(44) {
				grid-row-start: 11;
				grid-column: 8 / span 2;
			}

			&:nth-child(45) {
				grid-row-start: 12;
				grid-column: 1 / span 2;
			}

			&:nth-child(46) {
				grid-row-start: 12;
				grid-column: 3 / span 2;
			}

			&:nth-child(47) {
				grid-row-start: 12;
				grid-column: 5 / span 2;
			}

			&:nth-child(48) {
				grid-row-start: 12;
				grid-column: 7 / span 2;
			}

			&:nth-child(49) {
				grid-row-start: 13;
				grid-column: 2 / span 2;
			}

			&:nth-child(50) {
				grid-row-start: 13;
				grid-column: 4 / span 2;
			}

			&:nth-child(51) {
				grid-row-start: 13;
				grid-column: 6 / span 2;
			}

			&:nth-child(52) {
				grid-row-start: 13;
				grid-column: 8 / span 2;
			}

			&:nth-child(53) {
				grid-row-start: 14;
				grid-column: 1 / span 2;
			}

			&:nth-child(54) {
				grid-row-start: 14;
				grid-column: 3 / span 2;
			}

			&:nth-child(55) {
				grid-row-start: 14;
				grid-column: 5 / span 2;
			}

			&:nth-child(56) {
				grid-row-start: 14;
				grid-column: 7 / span 2;
			}

			&:nth-child(57) {
				grid-row-start: 15;
				grid-column: 2 / span 2;
			}

			&:nth-child(58) {
				grid-row-start: 15;
				grid-column: 4 / span 2;
			}

			&:nth-child(59) {
				grid-row-start: 15;
				grid-column: 6 / span 2;
			}

			&:nth-child(60) {
				grid-row-start: 15;
				grid-column: 8 / span 2;
			}
		}
	}
}